@*@model PrePass.Models.Assessment*@
@model PrePass.Models.AssessmentVM

@{
    ViewData["Title"] = "Edit Assessment";
}

<h1>Edit Assessment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-eid="@ViewBag.eid">
            <input type="hidden" value=@ViewBag.EmpID asp-for="Assm.EmpID" />
            <input type="hidden" asp-for="Assm.AppID" />
            <input type="hidden" asp-for="Assm.DateCreated" />
            <input type="hidden" asp-for="Assm.DistrictID" />
            @* <input type="hidden" value=@ViewBag.assessid asp-for="Assm.AssessID" />*@
            <div asp-validation-summary=" ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Assm.AssessID" class="control-label"></label>@Html.Label(": ")
                @*<input readonly asp-for="Assm.AssessID" class="form-control" />
        <span asp-validation-for="Assm.AssessID" class="text-danger"></span>*@
                @Html.DisplayFor(model => model.Assm.AssessID)
            </div>
            <div class="form-group">
                <label asp-for="Assm.LastUpdated" class="control-label"></label>@Html.Label(": ")
                @Html.DisplayFor(model => model.Assm.LastUpdated)
                @*<input readonly asp-for="Assm.LastUpdated" class="form-control" />
        <span asp-validation-for="Assm.LastUpdated" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
            <label asp-for="Assm.AppID" class="control-label"></label>
            <input readonly asp-for="Assm.AppID" class="form-control" />
            <span asp-validation-for="Assm.AppID" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            @Html.Label("Applicant: ")
            @Html.DisplayFor(model => model.Appl.FName) @Html.DisplayFor(model => model.Appl.LName)
        </div>
            <div class="form-group">
                <label asp-for="Assm.HousingRef" class="control-label"></label>
                @*<input asp-for="Assm.HousingRef" class="form-control" />*@
                @Html.EditorFor(m => m.Assm.HousingRef, new { @class = "form-control" })
                <span asp-validation-for="Assm.HousingRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assm.Reason" class="control-label"></label>
                @*<select asp-for="Assm.Reason" class="form-control"></select>*@
                @*@Html.DropDownListFor(m => m.Assm.Reason, new SelectList(Enum.GetValues(typeof(PresReason))),
"Select Reason")*@

                <select asp-for="Assm.Reason"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<PresReason>()">
                    <option>Select Reason</option>
                </select>

                <span asp-validation-for="Assm.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assm.DistrictID" class="control-label"></label>@Html.Label(": ")
                @* @Html.DropDownListFor(model => model.Assm.DistrictID, Model.Dist_list)*@
                @ViewBag.districtname
                <span asp-validation-for="Assm.DistrictID" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Assm.Income" class="control-label"></label>
                @*@Html.DropDownListFor(m => m.Assm.Income, new SelectList(Enum.GetValues(typeof(IncomeType))),
"Select Income Status")*@

                <select asp-for="Assm.Income"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<IncomeType>()">
                    <option>Select Income Status</option>
                </select>

                <span asp-validation-for="Assm.Income" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Assm.CriminalOff" /> @Html.DisplayNameFor(model => model.Assm.CriminalOff)
                </label>
            </div>
            @*<div class="form-group">
            <label asp-for="Assm.LinkedSupports" class="control-label"></label>
            <input asp-for="Assm.LinkedSupports" class="form-control" />
            <span asp-validation-for="Assm.LinkedSupports" class="text-danger"></span>
        </div>*@

        <div class="form-group">
            <label asp-for="Assm.Household" class="control-label"></label>
            @*@Html.DropDownListFor(m => m.Assm.Household, new SelectList(Enum.GetValues(typeof(HouseholdType))),
"Select Household Type")*@

            <select asp-for="Assm.Household"
                    class="form-control"
                    asp-items="Html.GetEnumSelectList<HouseholdType>()">
                <option>Select Household Type</option>
            </select>

            <span asp-validation-for="Assm.Household" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="Assm.ChildrenUnder18" class="control-label"></label>
                <input asp-for="Assm.ChildrenUnder18" class="form-control" />
                <span asp-validation-for="Assm.ChildrenUnder18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assm.ChildrenOver18" class="control-label"></label>
                <input asp-for="Assm.ChildrenOver18" class="form-control" />
                <span asp-validation-for="Assm.ChildrenOver18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assm.Addiction" class="control-label"></label>
                @*@Html.DropDownListFor(m => m.Assm.Addiction, new SelectList(Enum.GetValues(typeof(AddictionType))),
"Select Addiction Status")*@

                <select asp-for="Assm.Addiction"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<AddictionType>()">
                    <option>Select Addiction Status</option>
                </select>

                <span asp-validation-for="Assm.Addiction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assm.HealthConditions" class="control-label"></label>
                <input asp-for="Assm.HealthConditions" class="form-control" />
                <span asp-validation-for="Assm.HealthConditions" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Assm.LegalIssues" /> @Html.DisplayNameFor(model => model.Assm.LegalIssues)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Assm.TempRelease" /> @Html.DisplayNameFor(model => model.Assm.TempRelease)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Assm.ProbationOfficer" /> @Html.DisplayNameFor(model => model.Assm.ProbationOfficer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <b>Are you currently linking in with any of the following supports?</b>
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Assm.SocialWorker" /> @Html.DisplayNameFor(model => model.Assm.SocialWorker)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Assm.DeptSocial" /> @Html.DisplayNameFor(model => model.Assm.DeptSocial)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Assm.AddictionSvcs" /> @Html.DisplayNameFor(model => model.Assm.AddictionSvcs)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Assm.MHCT" /> @Html.DisplayNameFor(model => model.Assm.MHCT)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Assm.DoctorGP" /> @Html.DisplayNameFor(model => model.Assm.DoctorGP)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Assm.Keyworker" /> @Html.DisplayNameFor(model => model.Assm.Keyworker)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Assm.OtherSupports" class="control-label"></label>
                <input asp-for="Assm.OtherSupports" class="form-control" />
                <span asp-validation-for="Assm.OtherSupports" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assm.SupprtsReferred" class="control-label"></label>
                <input asp-for="Assm.SupprtsReferred" class="form-control" />
                <span asp-validation-for="Assm.SupprtsReferred" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assm.FurtherInfo" class="control-label"></label>
                <input asp-for="Assm.FurtherInfo" class="form-control" />
                <span asp-validation-for="Assm.FurtherInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assm.Status" class="control-label"></label>
                @*<select asp-for="Assm.Status" class="form-control"></select>*@
                @*@Html.DropDownListFor(m => m.Assm.Status, new SelectList(Enum.GetValues(typeof(StatusType))),
"Select Case Status")*@

                <select asp-for="Assm.Status"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<StatusType>()">
                    <option>Select Current Case Status</option>
                </select>

                <span asp-validation-for="Assm.Status" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Assm.Active" /> @Html.DisplayNameFor(model => model.Assm.Active)
            </label>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-eid="@ViewBag.eid">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
