@model IEnumerable<PrePass.Models.District>

@{
    ViewData["Title"] = "Districts";
}

<h1>Districts</h1>

<p>
    <a asp-action="Create" asp-route-eid="@ViewBag.eid">Create District</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DistrictID" asp-route-eid="@ViewBag.eid">Edit</a>
                    @*<a asp-action="Details" asp-route-id="@item.DistrictID" asp-route-eid="@ViewBag.eid">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.DistrictID" asp-route-eid="@ViewBag.eid">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
